* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.box {
    width: 80%;
    height: 150px;
    margin: 10px;
    background-color: #ccc;
}

img {
    max-width: 50%;
}   