* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    background-color: var(--color-light);
}

.container {
    width: 80%;
    min-height: 30vh;
    margin: var(--space-40) auto;
    padding: var(--space-40);
    background-color: var(--color-dark);
    text-align: center;
    border-radius: var(--radius);
}

.container-title {
    font-size: 6vmin;
    color: var(--color-light);
    margin-bottom: var(--space-20);
}

.icon{
    font-size: 7vmin;
    color: var(--color-light);
    margin: var(--space-10);
    padding: var(--space-20);
    border: 1px solid var(--color-light);
    border-radius: var(--radius);
    transition: var(--transition);
}

.icon:hover{
    background-color: var(--color-pink);
    border-color: var(--color-pink);

}